*{
    margin: 0;
    padding: 0;
}
.dashboard .header {
    position: absolute;
    width: 100%;
    z-index: 4;
    background-color: #999;
}

.dashboard .menu-right{
    font-size: 18px;

}
.dashboard .notification{
    color: #fff;
    padding: 8px;

}

.dashboard .profile a.nav-link{
    color: #fff;
}

.dashboard .profile a.dropdown-item{
    border-bottom: 1px solid #333;
}
.dashboard .profile a.dropdown-item:nth-last-child(1){
    border-bottom: none;
}
.dashboard .side-nav{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 5 ;
    background-color: #666;
}

.dashboard .logo-nav{
    background-color: #b15124;
}

.dashboard .side-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dashboard .side-nav ul li{
    padding: 20px 10px;
    border-bottom: 1px solid #bdb3b3;
    text-align: center;
    font-size: 17px;
}

.dashboard .side-nav ul li a{
    color: #fff;
    text-decoration: none;
}

.dashboard .side-nav ul li i{
    color: #333;
}

.dashboard .main-content{
    padding-top: 75px;
}

.dashboard .footer-copyright-area{
    background-color: #ececec;
    padding: 20px 0px;
}

@media screen and  (min-width: 320px){
    .dashboard nav.navbar{
        margin-left: 70px;
        padding: 15px 20px;
    }
    .dashboard .side-nav {
        width: 70px;
    }
    .dashboard .side-nav ul li span:nth-child(2){
        display: none;
    }
    .dashboard .side-nav ul li i{
        font-size: 26px;
    }
    .dashboard .main-content{
        margin-left: 70px
    }

}

@media screen and (min-width: 1000px){
    .dashboard nav.navbar{
        margin-left: 200px;
    }
    .dashboard .side-nav {
        width: 200px; 
    }
    .dashboard .side-nav ul li{
        text-align: left;
    }
    .dashboard .side-nav ul li span:nth-child(2){
        display: inline;
    }
    .dashboard .main-content{
        margin-left: 200px;
    }
}