* {
    margin: 0;
    padding: 0;
}


.topheader a.nav-link {
    color: #fff !important;
    transition: 0.6s;

}

.topheader a.nav-link .number {
    border-radius: 50%;
    padding: 9px;
}

.topheader a.nav-link:hover {
    color: #fff !important;
}

.topheader a.nav-link:hover .number {
    color: #fff;
}

.topheader nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top {
    padding: 25px
}
.topheader a.navbar-brand{
	font-size: 25px;
}
/*Navs*/
/* Card */
.pending .nav .nav-item a.nav-link.active {
    background: linear-gradient(40deg, #ce9f20, #f9092a);
    color: #fff ;
    border-radius: 26px;
}
.pending .nav .nav-item a.nav-link {
	color: red;
}

/*End navs*/
/*Footer*/
/*10. Newsletter*/
/**********************************/
span.input-group-addon {
    font-size: 30px;
    width: 70px;
}

.newsletter {
    width: 100%;
    background: #f2f2f2;
    margin-top: 81px;
}

.newsletter_text {
    height: 120px;
}

.newsletter_text h4 {
    margin-bottom: 0px;
    line-height: 24px;
}

.newsletter_text p {
    margin-bottom: 0px;
    line-height: 1.7;
    color: #51545f;
}

.newsletter_form {
    height: 120px;
}

#newsletter_email {
    width: 300px;
    height: 46px;
    background: #FFFFFF;
    border: none;
    padding-left: 20px;
}

#newsletter_email:focus {
    border: solid 1px #7f7f7f !important;
    box-shadow: none !important;
}

:focus {
    outline: none !important;
}

#newsletter_email::-webkit-input-placeholder {
    font-size: 14px !important;
    font-weight: 400;
    color: #b9b4c7 !important;
}

#newsletter_email:-moz-placeholder

/* older Firefox*/
    {
    font-size: 14px !important;
    font-weight: 400;
    color: #b9b4c7 !important;
}

#newsletter_email::-moz-placeholder

/* Firefox 19+ */
    {
    font-size: 14px !important;
    font-weight: 400;
    color: #b9b4c7 !important;
}

#newsletter_email:-ms-input-placeholder {
    font-size: 14px !important;
    font-weight: 400;
    color: #b9b4c7 !important;
}

#newsletter_email::input-placeholder {
    font-size: 14px !important;
    font-weight: 400;
    color: #b9b4c7 !important;
}

.newsletter_submit_btn {
    width: 160px;
    height: 46px;
    border: none;
    background: #fe4c50;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.newsletter_submit_btn:hover {
    background: #FE7C7F;
}

/*********************************
11. Footer
*********************************/

.footer_nav_container {
    height: 130px;
}

.cr {
    margin-right: 48px;
}

.footer_nav li {
    display: inline-block;
    margin-right: 45px;
}

.footer_nav li:last-child {
    margin-right: 0px;
}

.footer_nav li a,
.cr {
    font-size: 14px;
    color: #51545f;
    line-height: 30px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.footer_nav li a:hover,
.cr a,
.cr i {
    color: #fe4c50;
}

.footer_social {
    height: 130px;
}

.footer_social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_social ul li:last-child {
    margin-right: 0px;
}

.footer_social ul li a {
    color: #51545f;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    padding: 10px;
}

.footer_social ul li:last-child a {
    padding-right: 0px;
}

.footer_social ul li a:hover {
    color: #fe4c50;
}

/*Responsive footer*/
@media only screen and (max-width: 991px) {
	*{

    }
	.topheader li.nav-item{
		margin-top: 10px;
	}
	.topheader a.nav-link{
		width: 50%;
	}
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .main_slider_content h6 {
        margin-bottom: 23px;
    }

    .shop_now_button {
        margin-top: 26px;
    }

    .grid-item {
        width: 25%;
    }

    .top_nav {
        display: none;
    }

    .navbar_menu {
        display: none;
    }

    .hamburger_container {
        display: block;
    }

    .main_slider {
        margin-top: 100px;
    }

    .main_slider_content {
        width: 100%;
        padding-right: 15px;
    }

    .banner_item {
        height: 160px;
    }

    .banner_category {
        min-width: 160px;
        height: 40px;
    }

    .banner_category a {
        font-size: 16px;
        line-height: 40px;
    }

    .product-item {
        width: 25%;
    }

    .deal_ofthe_week_col {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .deal_ofthe_week_content {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
    }

    .deal_ofthe_week_img {
        text-align: center;
    }

    .timer li {
        width: 70px;
        height: 70px;
    }

    .timer_num {
        font-size: 28px;
    }

    .timer_unit {
        margin-top: 1px;
        font-size: 14px;
    }

    .benefit_col {
        margin-bottom: 30px;
    }

    .benefit_col:last-child {
        margin-bottom: 0px;
    }

    .blog_item_col {
        margin-bottom: 30px;
    }

    .blog_item_col:last-child {
        margin-bottom: 0px;
    }

    .blog_item {
        height: 440px;
    }

    .blog_title {
        font-size: 24px;
    }

    .newsletter_text {
        height: auto;
        margin-top: 30px;
    }

    .newsletter_text p {
        margin-top: 5px;
    }

    .newsletter_form {
        height: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .footer_nav_container {
        height: auto;
        margin-top: 65px;
    }

    .footer_social {
        height: auto;
        margin-top: 20px;
        margin-bottom: 65px;
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
    .register .re-pass {
        margin-top: 24px;
    }
}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h6 {
        font-size: 12px;
    }

    .newsletter_form {
        margin-bottom: 40px;
    }

    .newsletter_submit_btn {
        margin-top: 15px;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    .cr {
        display: block;
        margin-right: 0px;
        margin-bottom: 30px;
        font-size: 13px;
    }

    .footer_nav {
        margin-bottom: 20px;
    }

    .footer_nav li {
        display: block;
        margin-right: 0px;
    }

    .footer_nav li a {
        font-size: 13px;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
    .register .re-pass {
        margin-top: 20px;
    }
    .newsletter_form {
        margin-top: 22px;
    }

    .newsletter_text h4 {
        font-size: 20px;
    }

    .newsletter_text p {
        font-size: 13px;
        margin-top: 5px;
    }

    .newsletter_submit_btn {
        font-size: 12px;
    }

    #newsletter_email {
        height: 40px;
        width: 100%;
        padding-left: 15px;
    }

    .newsletter_submit_btn {
        height: 36px;
        width: 130px;
    }

    #newsletter_email::-webkit-input-placeholder {
        font-size: 12px !important;
        padding-left: 0px;
    }

    #newsletter_email:-moz-placeholder

    /* older Firefox*/
        {
        font-size: 12px !important;
        padding-left: 0px;
    }

    #newsletter_email::-moz-placeholder

    /* Firefox 19+ */
        {
        font-size: 12px !important;
        padding-left: 0px;
    }

    #newsletter_email:-ms-input-placeholder {
        font-size: 12px !important;
        padding-left: 0px;
    }

    #newsletter_email::input-placeholder {
        font-size: 12px !important;
        padding-left: 0px;
    }

    .footer_nav_container {
        margin-top: 35px;
    }

    .cr {
        margin-bottom: 20px;
    }

    .footer_nav {
        margin-bottom: 20px;
    }

    .footer_social {
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

/*Datatable*/
#example1_wrapper,#example2_wrapper,#example3_wrapper,#example4_wrapper{
    /* margin-top: 20px; */
    padding: 20px 20px 0px 20px;
}

.help-block{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}